html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    font-family:'Courier New', Courier, monospace;
    font-size: 16px;
    font-weight: bold;
}

.canvas {
    display: block;
}

.menu {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1;
    width: 296px;
    display: flex;
    margin: 0;
    padding: 0;
    background-color: darkgray;
}

.menu-item {
    display: flex;
    margin: 0;
    padding: 4px 6px;
    list-style: none;
    cursor: pointer;
}

.menu-item-selected,
.menu-item:hover {
    background-color: lightgray;
}

.panel {
    position: absolute;
    top: 0;
    right: 0;
    width: 296px;
    box-sizing: border-box;
    display: none;
    background-color: lightgrey;
}

.form {
    display: flex;
    flex-direction: column;
    align-items: start;
    padding: 52px 16px 16px;
}

.form-item {
    padding: 0 0 8px 4px;
}

.form-input {
    font-family: 'Courier New', Courier, monospace;
    font-size: 16px;
    font-weight: bold;
}

.button {
    margin-bottom: 8px;
    border: none;
    padding: 4px;
    background-color: darkgray;
    font-family: 'Courier New', Courier, monospace;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
}

.show-panel {
    display: block;
}

.map-list {
    width: 100%;
    height: 260px;
    overflow-x: auto;
    display: flex;
    flex-direction: column;
    margin-bottom: 8px;
    border: 1px solid gray;
    background-color: white;
}

.map-label {
    padding: 4px;
}

.map-radio:checked + .map-label  {
    background-color: gainsboro;
}

.map-radio {
    margin: 0;
    appearance: none;
}

.tile-list {
    width: 264px;
    height: 340px;
    overflow-x: auto;
    display: flex;
    align-content: start;
    flex-wrap: wrap;
    margin-bottom: 8px;
    border: 1px solid gray;
    background-color: black;
}

.tile-radio {
    margin: 0;
    appearance: none;
}

.tile-radio:checked + .tile-label {
    background-color: gray;
}

.tile-label {
    display: block;
    margin: 1px;
}

.tile-label:hover {
    outline: 1px solid white;
}

.tile-icon {
    width: 100%;
}
